@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.header-text{
    font-family: 'Courgette', cursive;
}

.checkbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
